#app, html, body {
  max-width: 100%;
  display: block;
  -webkit-font-smoothing: antialiased;
  font-family: 'ABC Marist', serif;
  font-weight: normal;
  line-height: var(--line-height);
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
  // @include typography-medium;
  ::selection {
    background: var(--text-color);
    color: var(--background-color);
  }
  // overflow: hidden;
}

html, body, #__nuxt, #__layout {
  // height: 100%;
}

.content {
  // display: flex;
  // flex-direction: column;
  // height: auto;
  // min-height: 100%;
  // gap: 0;
  section {
    // display: flex;
    // flex-direction: column;
    // height: auto;
    // min-height: 100%;
    // flex: 1;
    .holding-page-slide-wrapper {
      flex: 1;
      transform: translateZ(0);
    }
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  background-color: transparent !important;
  -webkit-box-shadow: 0 0 0 30px white inset !important;
  box-shadow: 0 0 0 30px white inset !important;
}

hr {
  padding: 0px;
  margin: 0px;
  border: 0;
  border-bottom: 1px dashed #ccc;
  background: #999;
}

li {
  list-style: none;
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

textarea {
  position: absolute;
  left: -100%;
}

.clickable {
  cursor: pointer;
}

.magnifiable {
  cursor: pointer;
}

img, picture {
  display: block;
  user-select: none;
}

.scroll {
  overflow: scroll;
}

.lazyfade {
  transition: opacity 0.25s ease-out;
}

.lazyload, .lazyloading {
  opacity: 0;
}

.lazyloaded {
  opacity: 1;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}
