a, .subscribe-button, .header-link {
  color: inherit;
  text-decoration: none;
  transition: opacity .333s ease;
  cursor: pointer;
  &:hover {
    color: inherit;
    opacity: 1 !important;
    // text-decoration-line: underline;		
    // text-decoration-color: inherit;
    // text-decoration-style: solid;
    // text-decoration-thickness: 0.07em;
    // text-underline-offset: 0.15em;
  }
  &:active {
    color: inherit;
    opacity: 1;
  }
  &.nuxt-link-exact-active {
    color: inherit;
    opacity: 1;
  }
}

.header-link {
  opacity: 0.5;
}

.footnote-link {
  &:hover {
    .underline-span {
      text-decoration-line: underline;		
      text-decoration-color: inherit;
      text-decoration-style: solid;
      text-decoration-thickness: 0.07em;
      text-underline-offset: 0.15em;
    }
  }
}